<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Water Reporter and the records you submit has strong support from every angle. Our dedicated partners work hard to verify, advocate, and plan restoration initiatives with citizen water reports in mind. Our partners are river minded, pursue an outdoor oriented lifestyle, and strive to be exemplary stewards of the resource.

POTOMAC RIVERKEEPER
Created in 2000 as part of the Waterkeeper Alliance, Potomac Riverkeeper works to restore clean water to the Potomac and its tributaries through enforcement and community engagement.  The 14,670 square mile drainage basin faces significant environmental threats consisting of chemical and nutrient pollution, impervious surfaces, and sewer overflows.

Brent Walls joined Potomac Riverkeeper as the new Upper Potomac River Manager in September, 2009. Brent comes to Potomac Riverkeeper with several years experience as the Watershed Coordinator at the Chester River Association. Brent worked closely with the Chester Riverkeeper, and acted as interim Riverkeeper on two occasions. He has extensive experience with conducting water quality monitoring programs, coordinating volunteers, investigating pollution, and initiating enforcement actions. Brent has a BS in Environmental Sciences and served in the US Navy. Brent lives and works in Inwood, WV.

Matthew Logan became President &amp; Potomac Riverkeeper in January 2013. Matt brings to this position a wealth of experience in river protection and public engagement, as well as success in running nonprofit organizations. As President of Potomac Conservancy from 1998 to 2006, Matthew secured permanent protection for over 50 properties in the Potomac watershed totaling nearly 10,000 acres and created numerous educational programs. In addition, Matthew secured the protection of six major Potomac River Islands.

SHENANDOAH RIVERKEEPER
The Shenandoah River is the largest river that flows into the Potomac River. Shenandoah Riverkeeper uses community action and enforcement to protect and restore water quality in the Shenandoah Valley for people, fish, and aquatic life.

Jeff Kelble stepped out of his fishing guide raft and into conservation work at the end of 2005 when he started the Shenandoah Riverkeeper Program and become the Shenandoah Riverkeeper.

Before he became Shenandoah Riverkeeper, Jeff worked for 8 years to build a private smallmouth bass guiding business and a bed and breakfast. After years of fish kills devastated the Shenandoah River’s fishery, Jeff decided to put down his oars to join the fight for the river and its health.

Jeff focused on investigating fish health problems and quickly became a regional expert and advocate. Jeff now spends much of his time scouring the river and the land for pollution sources and fighting to stop pollution with legal enforcement and community action.

CHESAPEAKE COMMONS
The Chesapeake Commons is a small web cartography shop in Washington, D.C. that combines thoughtful design with new technologies to build stylish, functional maps and visuals that explain key issues related to the Chesapeake Bay ecosystem.

VIABLE INDUSTRIES
Viable Industries helps partners to collect more accurate data in the field, organize that data more efficiently, and visualize it in meaningful ways. Their team of two, Joshua Powell and Ryan Hamley, led the design and production of the new visual design, API design and develompent, and native iOS development.</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>DataStatement</string>
</dict>
</plist>
